PORT=<%= port %>
CORS_ORIGIN=*
<% if (useDatabase && orm === "Mongoose") { %>
MONGO_URI=mongodb://admin:secret_password@localhost:27017/<%= appName %>_dev?authSource=admin&replicaSet=rs0
<% } %>
<% if (useDatabase && orm === "Prisma") { %>
<% if (databaseType === "Postgres") { %>
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/<%= appName %>_dev?schema=public"
<% } else { %>
DATABASE_URL="mongodb://admin:secret_password@localhost:27017/<%= appName %>_dev?authSource=admin&replicaSet=rs0"
<% } %>
<% } %>
