{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.ejs",
      "options": { "parser": "html" }
    },
    {
      "files": "*.js.ejs",
      "options": { "parser": "babel" }
    },
    {
      "files": "*.ts.ejs",
      "options": { "parser": "babel" }
    }
  ]
}
